* {
    padding: 0;
    margin: 0;
}

:root {
    --grey: #222;
    --orange: #FB9328;
    --white: #FFF;
    --black: #000;
}

/* COLORS */

.white-text {
    color: var(--white);
}

.white-bg {
    background-color: var(--white);
}

.orange-text {
    color: var(--orange);
}


/* NATTIVE TAGS */

body {
    background-color: var(--grey);
}

main {
    position: relative;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
button,
span,
p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    letter-spacing: 0.2px;
}

h1 {
    font-family: "Changa", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

button {
    border: none;
    cursor: pointer;
    outline: inherit;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
}


/* GLOBALS */

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}


/* BUTTONS  */

.btn-primary,
.btn-secondary {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    width: 250px;
    height: 60px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.btn-secondary {
    width: 127px;
    height: 52px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.btn-dark-bg,
.btn-light-bg {
    background: var(--orange);
}

.btn-dark-bg:hover,
.btn-light-bg:hover {
    transition-duration: 0.3s;
}

.btn-dark-bg {
    color: var(--grey);
}

.btn-dark-bg:hover {
    background: transparent;
    border: var(--white) 4px solid;
    color: var(--white);
}

.btn-light-bg {
    color: var(--white);
}

.btn-light-bg:hover {
    background: transparent;
    border: var(--black) 4px solid;
    color: var(--black);
}


/* Sections & HEADER */

.nav-container {
    position: fixed;
    width: 100%;
    height: 100px;
    padding-top: 22px;
    background-color: rgba(34, 34, 34, 0.8);
    z-index: 2;

    & .nav-content {
        position: absolute;
        left: 50%;
        width: 1000px;
        height: 75px;
        margin-left: -500px;


        & .nav-logo-container {
            width: 300px;

            & .nav-logo-image {
                height: 55px;
                width: 55px;
            }
        }

        & .nav-list-container {
            width: 520px;

            & .nav-list-item {
                color: var(--white);
            }

            & .nav-list-item:hover {
                color: var(--orange);
            }
        }
    }
}

.top-page-space {
    height: 120px;
}

.section-container {
    margin: 0 auto;

    & .section-content {
        position: relative;
        left: 50%;
        width: 1000px;
        margin-left: -500px;
        padding-top: 200px;
        padding-bottom: 100px;
    }

    & .article-container {
        position: relative;
        width: 600px;

        & h1 {
            color: var(--orange);
            padding-bottom: 60px;
        }

        & p {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
        }

        & .inline-wrapper * {
            display: inline;
        }

        & .item-wrapper,
        .inline-wrapper {
            padding-bottom: 40px;
        }

        &>*:last-child {
            padding-bottom: 0;
        }
    }


    /* #1 HOME */

    & .home-title {
        width: 550px;
        padding-bottom: 60px;
    }

    & .home-image {
        position: absolute;
        right: -100px;
        top: 100px;
        width: 400px;
        height: 400px;
    }


    /* #2 ROADMAP */

    & .roadmap-title {
        padding-bottom: 200px;
    }

    & .roadmap-grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        column-gap: 80px;
        row-gap: 70px;

        & .grid-item {
            grid-column: span 2;
            position: relative;
            width: 100px;
            height: 72px;

            & .grid-top-item,
            .grid-bottom-item {
                position: absolute;
                width: 300px;
            }

            & .grid-top-item {
                left: -100px;
            }

            & .grid-bottom-item {
                left: 75px;
            }
        }

        & .grid-odd-image,
        .grid-even-image {
            position: relative;
            width: 100px;
            height: 191px;
        }

        & .grid-odd-image {
            bottom: 41px;
        }

        & .grid-even-image {
            top: 41px;
        }
    }


    /* #3 WHAT-THE-BALLS */

    & .wtb-image {
        position: absolute;
        top: 340px;
        right: -50px;
        width: 420px;
        height: 500px;
    }


    /* #4 CRYPTO */

    & .crypto-article {
        position: relative;
        left: 300px;
    }

    .crypto-image {
        position: absolute;
        top: 340px;
        left: -100px;
        width: 360px;
        height: 600px;
    }


    /* #5 NARRATIVES */

    & .narratives-article {
        padding-bottom: 60px;
    }

    & .narratives-image {
        position: absolute;
        top: 270px;
        right: -50px;
        width: 460px;
        height: 700px;
    }


    /* #6 BUYTOKENS & #7 SOCIALS */

    & .links-title {
        padding-bottom: 100px;
    
        & h1 {
            padding-bottom: 20px;
        }
    }
    
    & .icons-container {
        display: flex;
        justify-content: center;
        gap: 40px;
        height: 80px;
    
        & .icon,
        .svg-icon,
        .svg-contrast-icon {
            background-color: var(--black);
            width: 80px;
            height: 80px;
            border-radius: 50%;
            box-shadow: 0px 11px 17.8px 7px rgba(255, 255, 255, 0.13);
        }
    
        & .icon {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
        }
    
        & .svg-contrast-icon {
            color: var(--white);
        }
    
        & .icon:hover,
        .svg-icon:hover,
        .svg-contrast-icon:hover {
            transition-duration: 0.4s;
    
        }
    
        & .icon:hover {
            border: var(--white) 3px solid;
            box-shadow: unset;
        }
    
        & .svg-icon:hover,
        .svg-contrast-icon:hover {
            background-color: var(--white);
        }
    
        & .svg-icon:hover {
            color: var(--white);
        }
    
        & .svg-contrast-icon:hover {
            color: var(--black);
        }
    }


    /* #8 FOOTER */

    & .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;


        & .footer-image {
            height: 55px;
            width: 55px;
        }
    }

}

