* {
    padding: 0;
    margin: 0;
}

/* todo - add colors */
:root {
    --grey: #222;
    --orange: #FB9328;
    --white: #FFF;
    --black: #000;
}

/* COLORS */

.white-text {
    color: var(--white);
}

.white-bg {
    background-color: var(--white);
}

.orange-text {
    color: var(--orange);
}


/* NATTIVE TAGS */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--grey);
}

main {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    letter-spacing: 0.2px;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;

    @media only screen and (min-width : 1224px) {
        font-family: "Changa", sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 45px;
    }
}

h2 {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;

    @media only screen and (min-width : 1224px) {
        font-size: 24px;
        line-height: 32px;
    }
}

h3 {
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;

    @media only screen and (min-width : 1224px) {
        font-size: 24px;
        line-height: 32px;
    }
}

h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;

    @media only screen and (min-width : 1224px) {
        font-weight: 700;
    }
}

h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

button {
    border: none;
    cursor: pointer;
    outline: inherit;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
}


/* Controls and Globals */

/* todo - !important , */
.desktop-only {
    display: none !important;

    @media only screen and (min-width : 1224px) {
        display: unset !important;
    }
}

.mobile-only {
    display: unset !important;

    @media only screen and (min-width : 1224px) {
        display: none !important;
    }
}

.inline-link {
    color: var(--orange);
}

.inline-link:hover {
    text-decoration: underline;
}


/* BUTTONS  */

.btn-primary,
.btn-secondary {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    @media only screen and (min-width : 1224px) {
        width: 250px;
        height: 60px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 32px;
    }
}

.btn-secondary {
    width: 127px;
    height: 52px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.btn-dark-bg,
.btn-light-bg {
    @media only screen and (min-width : 1224px) {
        background: var(--orange);
    }
}

.btn-dark-bg:hover,
.btn-light-bg:hover {
    transition-duration: 0.3s;
}

.btn-dark-bg {
    background: var(--orange);
    color: var(--grey);
}

.btn-dark-bg:hover {
    background: transparent;
    border: var(--white) 4px solid;
    color: var(--white);
}

.btn-light-bg {
    color: var(--orange);
    border: 3px var(--orange) solid;

    @media only screen and (min-width : 1224px) {
        color: var(--white);
        border: none;
    }
}

.btn-light-bg:hover {
    background: transparent;
    border: var(--black) 4px solid;
    color: var(--black);
}


/* Sections & HEADER */

.nav-container {
    position: fixed;
    width: 100vw;
    height: 60px;
    padding-top: 20px;
    background: rgba(26, 25, 25, 0.67);
    backdrop-filter: blur(6.8px);
    z-index: 999;

    @media only screen and (min-width : 1224px) {
        height: 80px;
        padding-top: 10px;
        background: rgba(34, 34, 34, 0.67);
    }

    & .nav-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        left: 8vw;
        width: 84vw;

        @media only screen and (min-width : 1224px) {
            left: 50%;
            width: 1140px;
            height: 75px;
            margin-left: -570px;
        }

        & .nav-logo-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 205px;

            @media only screen and (min-width : 1224px) {
                width: 290px;
            }

            & .nav-logo-image {
                height: 38px;
                width: 38px;

                @media only screen and (min-width : 1224px) {
                    height: 55px;
                    width: 55px;
                }
            }
        }

        & .nav-list-container {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: -10000px;
            top: 65px;
            max-height: calc(100vh - 130px);
            overflow-y: scroll;
            background: rgba(61, 61, 61, 0.97);
            border-radius: 20px;
            transition: all 0.3s;


            @media only screen and (min-width : 1224px) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                position: static;
                overflow-y: unset;
                right: 0;
                top: 0;
                width: 650px;
                padding: 0;
                background: transparent;
                backdrop-filter: none;
                border-radius: 0;
            }

            & .nav-list-item {
                position: relative;
                color: var(--white);
                width: 160px;

                @media only screen and (min-width : 1224px) {
                    width: auto;
                    border-bottom: 0;
                    font-size: 15px;
                }

                & a {
                    display: flex;
                    align-items: center;
                    width: 140px;
                    height: 60px;
                    padding-left: 20px;

                    @media only screen and (min-width : 1224px) {
                        display: inline;
                        padding-left: 0;
                    }
                }

                & a::after {
                    position: absolute;
                    left: 20px;
                    bottom: 0;
                    width: 120px;
                    border-bottom: 2px solid var(--white);
                    content: "";
                }

                @media only screen and (min-width : 1224px) {
                    a::after {
                        content: none;
                    }
                }

            }

            & .nav-list-item:last-child>a::after {
                content: none;
            }

            & .nav-list-item:hover {
                color: var(--orange);
            }
        }

        & .show-mobile-menu {
            right: 0;
        }

        & .mobile-menu-icon {
            width: 28px;

            &>.line {
                display: block;
                background-color: var(--white);
                height: 4px;
                border-radius: 2px;
            }

            &>.line+.line {
                margin-top: 5px;
            }
        }
    }
}

.top-page-space,
.mobile-home-bg {
    background-color: rgba(15, 15, 15, 0.47);

    @media only screen and (min-width : 1224px) {
        background-color: var(--grey);
    }
}

.top-page-space {
    @media only screen and (min-width : 1224px) {
        height: 180px;
    }
}

.section-container {
    margin: 0 auto;

    & .section-content {
        position: relative;
        left: 8vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 84vw;
        padding: 100px 0;

        @media only screen and (min-width : 1224px) {
            display: block;
            left: 50%;
            width: 1000px;
            margin-left: -500px;
            padding: 110px 0 100px 0;
        }
    }

    & .article-container {
        position: relative;

        @media only screen and (min-width : 1224px) {
            width: 600px;
        }

        & h1 {
            color: var(--orange);
            padding-bottom: 30px;

            @media only screen and (min-width : 1224px) {
                padding-bottom: 30px;
            }
        }

        & h2 {
            padding-bottom: 5px;

            @media only screen and (min-width : 1224px) {
                padding-bottom: 0;
            }
        }


        & p {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
        }

        & .inline-wrapper * {
            @media only screen and (min-width : 1224px) {
                display: inline;
            }
        }

        & .item-wrapper,
        .inline-wrapper {
            padding-bottom: 40px;
        }

        &>*:last-child {
            padding-bottom: 0;
        }
    }


    /* #1 HOME */

    & .desktop-home-title {
        display: none;

        @media only screen and (min-width : 1224px) {
            display: block;
            width: 550px;
            padding-bottom: 60px;
        }
    }

    & .home-image-container {
        display: inline-block;
        position: relative;
        right: 10%;
        width: 120%;

        @media only screen and (min-width : 1224px) {
            position: absolute;
            right: -50px;
            top: 0;
            width: 500px;
            height: 500px;
            mix-blend-mode: lighten;
        }

        & .home-image-responsive {
            margin-top: 100%;

            @media only screen and (min-width : 1224px) {
                margin-top: 0;
            }

            & .home-image {
                position: absolute;
                bottom: 0;
                mix-blend-mode: lighten;
                filter: blur(1.8px);
                -webkit-filter: blur(1.8px);
                opacity: 0.4;

                @media only screen and (min-width : 1224px) {
                    mix-blend-mode: normal;
                    filter: none;
                    -webkit-filter: none;
                    opacity: 1;
                }
            }
        }
    }

    & .home-btns-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        
        @media only screen and (min-width : 1224px) {
            padding-bottom: 100px;
        }
    }

    & .mobile-home-content {
        display: block;
    }

    & .mobile-home-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        color: var(--white);


        &>span {
            font-family: "Montserrat", sans-serif;
            padding-bottom: 20px;
            font-size: 36px;
            font-weight: 800;
            line-height: 54px;
        }

        &>h3 {
            line-height: 30px;
        }

    }

    /* #2 ROADMAP */

    & .roadmap-title,
    .roadmap-footer {
        padding-bottom: 80px;
        text-align: center;

        @media only screen and (min-width : 1224px) {
            padding-bottom: 100px;
        }

        & span {
            font-family: "Changa", sans-serif;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;

            @media only screen and (min-width : 1224px) {
                font-size: 36px;
                font-weight: 400;
                line-height: 45px;
            }
        }
    }

    & .roadmap-grid-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 330px;
        height: 800px;

        @media only screen and (min-width : 1224px) {
            flex-direction: row;
            width: 1000px;
            height: auto;
        }

        & .grid-item {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            @media only screen and (min-width : 1224px) {
                flex-direction: column;
                align-items: initial;
            }

            & .grid-item-line {
                display: none;

                @media only screen and (min-width : 1224px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 130px;

                }

                & img {
                    height: 82px;
                    width: 13px;
                }
            }

            & .grid-item-image {
                width: 75px;
                height: 75px;

                @media only screen and (min-width : 1224px) {
                    width: 100px;
                    height: 100px;
                }
            }

            & .grid-item-text {
                position: relative;
                height: 70px;
                display: flex;
                align-items: center;

                & h5 {
                    width: 242px;

                    @media only screen and (min-width : 1224px) {
                        position: absolute;
                        left: -78px;
                        width: 256px;
                        text-align: center;
                    }
                }
            }

            & .grid-item-space {
                display: none;

                @media only screen and (min-width : 1224px) {
                    display: block;
                    width: 100px;
                    height: 200px;
                }
            }
        }

        & .reverse-grid-item {
            flex-direction: row;

            @media only screen and (min-width : 1224px) {
                flex-direction: column-reverse;
            }
        }

        ;
    }

    .roadmap-footer {
        padding-top: 50px;
        padding-bottom: 0;

        @media only screen and (min-width : 1224px) {
            padding-top: 100px;
            padding-bottom: 0;
        }
    }


    /* #3 WHAT-THE-BALLS */

    & .wtb-image {
        display: none;

        @media only screen and (min-width : 1224px) {
            display: block;
            position: absolute;
            top: 225px;
            right: -30px;
            width: 380px;
            height: 380px;
        }
    }


    /* #4 CRYPTO */

    & .crypto {
        @media only screen and (min-width : 1224px) {
            position: relative;
            left: 300px;
        }
    }

    .crypto-image {
        display: none;

        @media only screen and (min-width : 1224px) {
            display: block;
            position: absolute;
            top: 265px;
            left: -100px;
            width: 360px;
            height: 500px;
        }
    }


    /* #5 NARRATIVES */

    & .article-narratives {
        padding-bottom: 60px;
    }

    & .narratives-image {
        display: none;

        @media only screen and (min-width : 1224px) {
            display: block;
            position: absolute;
            top: 340px;
            right: -100px;
            width: 480px;
            height: 480px;
        }
    }


    /* #6 SOCIALS & #7 TOKENOMICS & #8 BUY */

    & .section-links {
        padding-bottom: 0;

        & .links-title {
            padding-bottom: 40px;
            text-align: center;

            @media only screen and (min-width : 1224px) {
                padding-bottom: 30px;
            }

            & h1 {
                padding-bottom: 20px;
            }
        }

        & .icons-container {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media only screen and (min-width : 1224px) {
                flex-direction: row;
                justify-content: center;
                height: 80px;
            }

            & .icon-container {
                background-color: var(--black);
                width: 200px;
                height: 52px;
                border: 2px var(--white) solid;
                border-radius: 5px;

                @media only screen and (min-width : 1224px) {
                    background-color: transparent;
                    display: contents;
                    border: none;
                    border-radius: 0;
                }

                &>a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    @media only screen and (min-width : 1224px) {
                        width: 80px;
                    }

                    & .png-icon,
                    .svg-icon,
                    .svg-contrast-icon {
                        background-color: var(--black);
                        width: 52px;
                        height: 52px;

                        @media only screen and (min-width : 1224px) {
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            box-shadow: 0px 11px 17.8px 7px rgba(255, 255, 255, 0.13);
                        }
                    }

                    & .png-icon {
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        overflow: hidden;
                    }

                    & .svg-contrast-icon {
                        color: var(--white);
                    }

                    & .icon:hover,
                    .svg-icon:hover,
                    .svg-contrast-icon:hover {
                        @media only screen and (min-width : 1224px) {
                            transition-duration: 0.4s;
                        }
                    }

                    & .png-icon:hover {
                        @media only screen and (min-width : 1224px) {
                            border: var(--white) 3px solid;
                            box-shadow: unset;
                        }
                    }

                    & .svg-icon:hover,
                    .svg-contrast-icon:hover {
                        @media only screen and (min-width : 1224px) {
                            background-color: var(--white);
                        }
                    }

                    & .svg-icon:hover {
                        @media only screen and (min-width : 1224px) {
                            color: var(--white);
                        }
                    }

                    & .svg-contrast-icon:hover {
                        @media only screen and (min-width : 1224px) {
                            color: var(--black);
                        }
                    }
                }
            }
        }
    }


    /* #8 FOOTER */

    & .footer {
        padding-bottom: 20px;

        & .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            & .footer-image {
                height: 55px;
                width: 55px;
            }
        }
    }
}